<div class="card shadow-lg">
  <div class="card-body">
    <div class="card-title">
      {{dwarf.Name}} ("{{dwarf.TranslatedName}}")
      <div class="badge">{{dwarf.JoinedAt}}</div>
    </div>

    {% include "components/quote-line", quote: dwarf.Quote %}

    <h2>Profession</h2>
    <div class="mb-2">{{ dwarf.Profession }}</div>

    <h2>Relationships</h2>
    <div>{% include "components/dwarf-relationships", dwarf: dwarf %}</div>
  </div>
</div>
