<div class="flex flex-row justify-center space-x-0.5">
  <div class="text-gray-200 pb-2">{% include "icons/fa-quote-left" %}</div>
  <div class="text-justify text-gray-500">{{quote}}</div>
  <div class="text-gray-200 pt-2">{% include "icons/fa-quote-right" %}</div>
</div>