---
layout: base.html
title: Nitom Dakon
worldname: Nitom Dakon
---

<h1>Nitom Dakon</h1>
<h2>The Planet of Omen</h2>

<div class="my-4">
  <p>Currently in the Age of Myth.</p>
</div>
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
  <!-- Card w/ link to geography and maps -->
  {% include components/card.html, imgsrc:"/img/nitomdakon_worldmap.png", cardtitle: "World Maps", cardtext: "View full size maps and other
  information about Nitom Dakon at large.", actionhref: "/nitom-dakon/geography/", actiontext: "Visit Geography" %}
  <!-- Card w/ link to Fortress1 -->
  {% include components/card.html, imgsrc:"/img/nitomdakon_worldmap.png", cardtitle: "Embark1", cardtext: "Read the story of $groupname and
  their embark to the $locationname.", actionhref: "/nitom-dakon/embark1/", actiontext: "Read" %}
</div>
