---
layout: base 
title: Nitom Dakon 
subtitle: The Planet of Omen
worldname: Nitom Dakon
---

<div class="my-4">
  <p>Currently in the Age of Myth.</p>
</div>
<div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
  <!-- Card w/ link to geography and maps -->
  {% include "components/card", imgsrc:"/img/nitomdakon_worldmap.png", cardtitle: "World Maps", cardtext: "View full
  size maps and other information about Nitom Dakon at large.", actionhref: "/nitom-dakon/geography/", actiontext:
  "Visit Geography" %}
  <!-- Card w/ link to Vukcasfikod -->
  {% include "components/card", imgsrc:"/img/vukcasfikod-embark.png", cardtitle: "Vukcasfikod", cardtext: "A new chapter
  of dwarven history begins here at this place!", actionhref: "/nitom-dakon/vukcasfikod/", actiontext: "Strike the
  Earth" %}
</div>

