<div class="text-sm breadcrumbs">
  <ul>
    <li>{% include "icons/fa-map.html", width: 16, height: 16 %} &NonBreakingSpace; <a href="/{{worldname | slugify}}/">{{worldname}}</a></li>
    {% if fortname and fortname != "" %}
    <li>
      {% include "icons/fa-chess-rook.html", width: 16, height: 16 %} &NonBreakingSpace;
      <a href="/{{worldname | slugify}}/{{fortname | slugify}}">{{fortname}}</a>
    </li>
    {% endif %} {% if title != worldname and title != fortname %}
    <li>
      <a> {{ title }} </a>
    </li>
    {% endif %}
  </ul>
</div>
