<div tabindex="0" class="collapse hover:bg-white hover:bg-opacity-5">
  <div class="collapse-title text-xl font-medium">{{id}}. {{ storytitle }}</div>
  <div class="collapse-content">
    <span class="badge badge-sm">{{ storyauthor }}</span>
    <p>{{ storycontent }}</p>
    <br />
  </div>
</div>
