<div tabindex="0" class="collapse hover:bg-white hover:bg-opacity-5">
  <input type="checkbox" />
  <div class="collapse-title text-xl font-medium">{{ storytitle }}</div>
  <div class="collapse-content">
    <p class="mb-2">{{ storylead }}</p>
    <a class="btn btn-sm" href="{{ storyurl }}">Read</a>
    <br />
  </div>
</div>
