<footer class="p-4 footer bg-base-300 text-base-content footer-center">
  <div class="grid grid-cols-2 gap-4">
    <p>Copyright © 2021 - Nicholas Westerhausen</p>
    <a href="https://github.com/nwesterhausen/potential-adventure"> {% include "icons/fa-github", size: 24 %} </a>
  </div>
</footer>
