<div class="navbar mx-2 mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold"> Dwarf Fortress Stories </span>
  </div>
  <div class="flex-1 px-2 mx-2">
    <div class="items-stretch hidden lg:flex">
      <a class="btn btn-ghost btn-sm rounded-btn" href="/"> {% include "icons/fa-home" %} &NonBreakingSpace; </a>
      <a class="btn btn-ghost btn-sm rounded-btn" href="/nitom-dakon/"> {% include "icons/fa-globe" %} &NonBreakingSpace; Nitom Dakon </a>
    </div>
  </div>
</div>
