<div class="navbar mx-2 mb-2 shadow-lg bg-neutral text-neutral-content rounded-box">
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold"> Dwarf Fortress Stories </span>
  </div>
  <div class="flex-1 px-2 mx-2">
    <div class="items-stretch hidden lg:flex">
      {% if title != "Home" %}
      <a class="btn btn-ghost btn-sm rounded-btn" href="/"> {% include icons/fa-home.html, width: 16, height: 16 %} &NonBreakingSpace; </a>
      {% endif %}
      <a class="btn btn-ghost btn-sm rounded-btn" href="/nitom-dakon/">
        {% include icons/fa-map.html, width: 16, height: 16 %} &NonBreakingSpace; Nitom Dakon
      </a>
    </div>
  </div>
</div>
